.vscode
/bunny
/build
/cmake-build-debug
/outputs
/models/stanford-bunny/*.ply
/results/raw
/results/.matplotlib
/results/local-*/
/results/khipu-cpu-small/
/results/smoke-*/
/report/build
*.aux
*.log
*.out
*.toc
