.vscode
/build
/build-cuda
/cmake-build-debug
/outputs
/models/stanford-bunny/*.ply
/models/stanford-bunny/*.obj
/results
/report/build
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

/compile_commands.json
